<ion-header>
    <ion-toolbar>
        <ion-title>Grupos</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="isEmpty">
    <ion-searchbar placeholder="Buscar grupo" inputmode="text" autocorrect="on" (ionChange)="onSearchChange($event)"></ion-searchbar>
    <ion-list>
        <ion-item-divider>
            <ion-label>
                Grupos disponibles
            </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let grupo of groups | studentsFilter:qry:'name'" detail (click)="students(grupo.name)">
            <ion-label> {{grupo.name}} </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
<ion-content *ngIf="!isEmpty">
    <ion-item class="ion-text-center" lines="none">
        <ion-label>No hay información que mostrar</ion-label>
    </ion-item>
</ion-content>